@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

html {
  scroll-behavior: smooth;
}

body {

  font-family: Arial, Helvetica, sans-serif;

}

.scroll-watcher {
  height: 5px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  /* Gradient shimmer */
  background: linear-gradient(90deg,
      #10b981,
      #34d399,
      #6ee7b7,
      #10b981);
  background-size: 200% 100%;

  transform-origin: left;
  transform: scaleX(0);
  animation: scroll-watcher linear, shimmer 3s infinite linear;
  animation-timeline: scroll();
}

/* Grows with scroll */
@keyframes scroll-watcher {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

/* Smooth shimmer effect */
@keyframes shimmer {
  from {
    background-position: 200% 0;
  }

  to {
    background-position: -200% 0;
  }
}



@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-40%);
  }
}

.animate-scroll-left {
  display: flex;
  width: max-content;
  animation: scroll-left 30s linear infinite;
}

.logo-item {
  flex-shrink: 0;
  transition: transform 0.3s ease;
}



