@import "tailwindcss";
@import "@radix-ui/themes/styles.css";


html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}


.scroll-watcher {
  height: 5px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  transform: scaleX(0);
  animation: scroll-watcher linear, infinite linear;
  animation-timeline: scroll();
}

/* Grows with scroll */
@keyframes scroll-watcher {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}


/* infinite scroll auto */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-left {
  display: flex;
  width: max-content;
  animation: scroll-left 30s linear infinite;
}

.logo-item {
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

/* scroll view */
@keyframes appear{
  from{
    opacity: 0.4;
    scale: 0.8;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

.scrollappear{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

/* callout animation toast like*/
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-out forwards;
}

